.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard-status {
    width: 50vw;
    height: 20vh;
    padding: 10px;

    background-color: var(--theme-gray);
}

.dashboard-control {
    width: 50vw;
    height: 20vh;
    display: flex;
    gap: 10px;
    padding: 10px;

    background-color: var(--theme-gray);
}

.search-container {

}

.search-input {
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #757575;
}

.search-results {

}